openapi: 3.0.3
info:
  title: Seedr (unofficial) API
  description: >
    Machine-friendly specification for confirmed Seedr endpoints (login, account,
    file/folder listing, download/stream URLs, torrent scraping, batch delete, and
    adding torrent tasks).
  version: "1.1.0"
servers:
  - url: https://www.seedr.cc
security:
  - cookieAuth: []

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: RSESS_session

  schemas:
    LoginRequest:
      type: object
      properties:
        username:
          type: string
          format: email
        password:
          type: string
        rememberme:
          type: string
          enum: ["on", "off"]
        cf-turnstile-response:
          type: string
      required:
        - username
        - password

    LoginResponse:
      type: object
      properties:
        new_user: { type: boolean }
        username: { type: string }
        email: { type: string }
        user_id: { type: integer }
        is_premium: { type: boolean }
        access_token: { type: string, nullable: true }
        expires_in: { type: string, nullable: true }
        refresh_token: { type: string, nullable: true }
        success: { type: boolean }
        cookies:
          type: array
          items: { type: string }

    Settings:
      type: object
      properties:
        allow_remote_access: { type: boolean }
        site_language: { type: string }
        subtitles_language: { type: string }
        email_announcements: { type: boolean }
        email_newsletter: { type: boolean }

    WishlistItem:
      type: object
      properties:
        id: { type: integer }
        user_id: { type: integer }
        title: { type: string }
        size: { type: integer }
        torrent_hash: { type: string }
        torrent_magnet: { type: string }
        created: { type: string }
        added: { type: integer }
        is_private: { type: integer }

    Account:
      type: object
      properties:
        username: { type: string }
        email: { type: string }
        user_id: { type: integer }
        premium: { type: boolean }
        space_used: { type: integer }
        space_max: { type: integer }
        bandwidth_used: { type: integer, nullable: true }
        package_id: { type: integer, nullable: true }
        package_name: { type: string, nullable: true }
        wishlist:
          type: array
          items:
            $ref: "#/components/schemas/WishlistItem"

    AccountSettingsResponse:
      type: object
      properties:
        settings:
          $ref: "#/components/schemas/Settings"
        account:
          $ref: "#/components/schemas/Account"
        country: { type: string }

    QuotaResponse:
      type: object
      properties:
        bandwidth_used: { type: integer }
        bandwidth_max: { type: integer }
        space_used: { type: integer }
        space_max: { type: integer }
        is_premium: { type: boolean }

    FolderChild:
      type: object
      properties:
        id: { type: integer }
        path: { type: string }
        size: { type: integer }
        last_update: { type: string }

    FolderItemsResponse:
      type: object
      properties:
        space_max: { type: integer }
        space_used: { type: integer }
        saw_walkthrough: { type: integer, nullable: true }
        id: { type: integer }
        timestamp: { type: string }
        path: { type: string }
        size: { type: integer }
        parent: { type: integer }
        folders:
          type: array
          items:
            $ref: "#/components/schemas/FolderChild"
        files:
          type: array
          items:
            type: object
            additionalProperties: true
        torrents:
          type: array
          items:
            type: object
            additionalProperties: true

    DownloadUrlResponse:
      type: object
      properties:
        url: { type: string, format: uri }
        name: { type: string }
        success: { type: boolean }

    StreamManifestResponse:
      type: object
      properties:
        url: { type: string, format: uri }
        name: { type: string }
        id: { type: integer }
        duration: { type: string }
        os_hash: { type: string }
        subtitles:
          type: array
          items: { type: string }
        ff_subtitles:
          type: array
          items: { type: string }
        progress: { type: string }
        url_preroll: { type: string, format: uri }
        url_progress: { type: string, format: uri }
        url_convert: { type: string, format: uri }

    TorrentItem:
      type: object
      properties:
        id: { type: integer }
        hash: { type: string }
        size: { type: integer }
        title: { type: string }
        files: { type: string } # stringified JSON in examples
        magnet: { type: string }
        last_use: { type: string }
        filenames:
          type: array
          items: { type: string }
        filesizes:
          type: array
          items: { type: integer }
        pct: { type: number }

    ScrapeTorrentsResponse:
      type: object
      properties:
        torrents:
          type: array
          items:
            $ref: "#/components/schemas/TorrentItem"

    BatchDeleteRequest:
      type: object
      properties:
        delete_arr:
          type: string
          description: JSON-encoded array string. Example: '[{"type":"folder","id":"1087911850"}]'
      required: [delete_arr]

    BatchDeleteResponse:
      type: object
      properties:
        success: { type: boolean }

    TaskAddTorrentRequest:
      type: object
      properties:
        folder_id:
          type: integer
          description: "Target folder id (0 = root)."
        type:
          type: string
          enum: ["torrent"]
        torrent_magnet:
          type: string
          description: "Full magnet URI (url-encoded by example clients). Example: magnet:?xt=urn:btih:..."
      required: [folder_id, type, torrent_magnet]

    TaskAddTorrentResponse:
      type: object
      properties:
        user_torrent_id: { type: string }
        title: { type: string }
        success: { type: boolean }
        torrent_hash: { type: string }

paths:
  /auth/login:
    post:
      summary: Login (form post) — returns session cookies and JSON
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login response with cookies (also present in Set-Cookie headers)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"

  /account/settings:
    get:
      summary: Get account settings and basic account info
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Current account settings and metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountSettingsResponse"

  /account/quota/used:
    get:
      summary: Get quota usage
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Quota usage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuotaResponse"

  /fs/folder/0/items:
    get:
      summary: List root folder items
      security:
        - cookieAuth: []
      responses:
        "200":
          description: Root folder listing (folders, files, torrents)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderItemsResponse"

  /fs/folder/{folder_id}/items:
    get:
      summary: List items for a specific folder
      security:
        - cookieAuth: []
      parameters:
        - name: folder_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Folder contents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderItemsResponse"

  /download/file/{file_id}/url:
    get:
      summary: Get signed direct download URL for a file
      security:
        - cookieAuth: []
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Signed URL to download file (time-limited)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadUrlResponse"

  /presentation/fs/item/{file_id}/video/url:
    get:
      summary: Get streaming (HLS) manifest URL and related metadata for a file
      security:
        - cookieAuth: []
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Stream manifest and metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamManifestResponse"

  /scrape/html/torrents:
    post:
      summary: Scrape a torrent page URL and return parsed torrent metadata (magnet/hash/filesize)
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
              required:
                - url
      responses:
        "200":
          description: Parsed torrents found on the provided URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScrapeTorrentsResponse"

  /fs/batch/delete:
    post:
      summary: Batch delete files/folders/torrents (form field `delete_arr` required)
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/BatchDeleteRequest"
      responses:
        "200":
          description: Deletion status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchDeleteResponse"

  /task:
    post:
      summary: Add a new task (torrent, e.g. add torrent by magnet). Example used to add torrent tasks.
      security:
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TaskAddTorrentRequest"
            examples:
              addTorrent:
                value:
                  folder_id: 0
                  type: "torrent"
                  torrent_magnet: "magnet:?xt=urn:btih:68c0606ed4bcb3d7c90e02d95cb887ea759bc3fb&dn=Bugonia+(2025)+[720p]+[WEBRip]+[YTS.LT]&xl=1149067550"
      responses:
        "200":
          description: Task creation response (torrent queued)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskAddTorrentResponse"
              example:
                user_torrent_id: "173437652"
                title: "Bugonia (2025) [720p] [WEBRip] [YTS.LT]"
                success: true
                torrent_hash: "68c0606ed4bcb3d7c90e02d95cb887ea759bc3fb"
